/* rafting.css */

/* General body styles */
body {
  font-family: "Monserrat";
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header styling */
header {
  background-color: #00B4D8;
  padding: 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  

}

header img {
  height: 100px;
  margin-left: 200px;
}

.navbar {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.navbar li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: #e4d6f0;
}

/* Hero section */
.hero {
  text-align: center;
  background-color: white;
  padding: 30px 15px;
  margin-top: 15px;
}

.hero h2 {
  font-size: 2rem;
  color: #4a4a4a;
  margin-bottom: 10px;
}

.hero p {
  color: #555;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 700px;
  margin: 0 auto;
}

/* History section */
.history {
  background-color: #90E0EF; 
  padding: 40px 15px;
  margin: 20px auto;
  max-width: 1200px;
}

.history h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #4a4a4a;
  font-family: 'Roboto', 'Montserrat', sans-serif;
}

.history-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.history-item {
  flex: 1 1 calc(33.33% - 20px); /* 3 columns: Left, Center, Right */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.history-item p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  text-align: justify;
  margin: 0;
  padding: 10px;
}

.history-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Gallery section */
.gallery {
  background-color: white;
  padding: 20px 15px;
  text-align: center;
}

.gallery h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #4a4a4a;
}

.gallery-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.gallery-images img {
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

  
/* Footer styling */
footer {
  background-color: #00B4D8;
  padding: 20px 0;
  text-align: center;
  color: #333;
}

footer p {
  font-size: 0.9rem;
  margin: 5px 0;
  
}

.sociallinks {
  display: flex;
  justify-content: right;
  margin: 10px 0; /* Space above and below social links */
  
}

.sociallinks a img {
  width: 20px;
  margin: 0 5px; /* Space between social media icons */
  
}